{% extends 'index.html' %}
{% load static %}

{% block content %}

{#    <!-- HERO SECTION-->#}
    <div class="container">
{#        <section class="hero pb-3 bg-cover bg-center d-flex align-items-center" style="background: url({% static '/img/hero-banner-alt.jpg'%})">#}
{#          <div class="container py-5">#}
{#            <div class="row px-4 px-lg-5">#}
{#              <div class="col-lg-6">#}
{#                <p class="text-muted small text-uppercase mb-2">New Inspiration 2022</p>#}
{#                <h1 class="h2 text-uppercase mb-3">20% off on new season</h1><a class="btn btn-dark" href="shop/all/">Browse collections</a>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#        </section>#}


<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="3000">
      <img src="{% static '/img/hero-banner-alt.jpg'%}" style="width:auto; height:450px" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <section class="hero pb-3 bg-cover bg-center d-flex align-items-center">
          <div class="container py-5">
            <div class="row px-4 px-lg-5">
              <div class="col-lg-6">
                <p class="text-muted small text-uppercase mb-2">New Inspiration 2022</p>
                <h1 class="h2 text-uppercase mb-3">20% off on new season</h1><a class="btn btn-dark" href="{% url 'shop:product_list' %}">Browse collections</a>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="3000">
      <img src="{% static '/img/hero-shop-resized.jpg'%}" style="width:auto; height:450px" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <section class="hero pb-3 bg-cover bg-center d-flex align-items-center">
          <div class="container py-5">
            <div class="row px-4 px-lg-5">
              <div class="col-lg-6">
                <p class="text-muted small text-uppercase mb-2">New Inspiration 2022</p>
                <h1 class="h2 text-uppercase mb-3">Best prices on the market</h1><a class="btn btn-dark" href="shop/all/">Browse collections</a>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static '/img/hero-banner-resized.jpg'%}" style="width:auto; height:450px" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <section class="hero pb-3 bg-cover bg-center d-flex align-items-center">
          <div class="container py-5">
            <div class="row px-4 px-lg-5">
              <div class="col-lg-6">
                <p class="text-muted small text-uppercase mb-2">New Inspiration 2022</p>
                <h1 class="h2 text-uppercase mb-3">Huge variety of goods</h1><a class="btn btn-dark" href="shop/all/">Browse collections</a>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


        <!-- CATEGORIES SECTION-->
        {% include 'categories.html' %}

        <!-- TRENDING PRODUCTS-->
        {% include 'trending.html' %}

        <!-- SERVICES-->
        <section class="py-5 bg-light">
          <div class="container">
            <div class="row text-center gy-3">
              <div class="col-lg-4">
                <div class="d-inline-block">
                  <div class="d-flex align-items-end">
                    <svg class="svg-icon svg-icon-big svg-icon-light">
                      <use xlink:href="#delivery-time-1"> </use>
                    </svg>
                    <div class="text-start ms-3">
                      <h6 class="text-uppercase mb-1">Free shipping</h6>
                      <p class="text-sm mb-0 text-muted">Free shipping worldwide</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="d-inline-block">
                  <div class="d-flex align-items-end">
                    <svg class="svg-icon svg-icon-big svg-icon-light">
                      <use xlink:href="#helpline-24h-1"> </use>
                    </svg>
                    <div class="text-start ms-3">
                      <h6 class="text-uppercase mb-1">24 x 7 service</h6>
                      <p class="text-sm mb-0 text-muted">Free shipping worldwide</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="d-inline-block">
                  <div class="d-flex align-items-end">
                    <svg class="svg-icon svg-icon-big svg-icon-light">
                      <use xlink:href="#label-tag-1"> </use>
                    </svg>
                    <div class="text-start ms-3">
                      <h6 class="text-uppercase mb-1">Festivaloffers</h6>
                      <p class="text-sm mb-0 text-muted">Free shipping worldwide</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <!-- NEWSLETTER-->
        {% include 'newsletter.html' %}

      </div>

{% endblock %}