{% extends 'index.html' %}
{% load static %}

{% block content %}

      <div class="container">

        <!-- HERO SECTION-->
        <section class="py-5 bg-light">
          <div class="container">
            <div class="row px-4 px-lg-5 py-lg-4 align-items-center">
              <div class="col-lg-6">
                <h1 class="h2 text-uppercase mb-0">{{ category_title.title }} / <a class="small text-uppercase fw-bold" href="{% url 'shop:product_list' %}">back</a></h1>
              </div>

              <div class="col-lg-6 text-lg-end">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb justify-content-lg-end mb-0 px-0 bg-light">
                    <li class="breadcrumb-item"><a class="text-dark" href="{% url 'base:base' %}">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Shop</li>
                  </ol>
                </nav>
              </div>
            </div>
          </div>
        </section>

        <section class="py-5">
          <div class="container p-0">
            <div class="row">

              <!-- SHOP SIDEBAR-->
              <div class="col-lg-3 order-2 order-lg-1">
                <h5 class="text-uppercase mb-4">Categories</h5>
                  {% for category in categories %}
                <div class="py-2 px-4 bg-dark text-white mb-3">
                    <strong class="small text-uppercase fw-bold">
                        <a class="reset-anchor" href="{% url 'shop:products_in_category' category.slug %}">{{ category.title }}</a>
                    </strong>
                </div>
                  {% endfor %}
              </div>

              <!-- SHOP LISTING-->
              <div class="col-lg-9 order-1 order-lg-2 mb-5 mb-lg-0">
                <div class="row mb-3 align-items-center">
                  <div class="col-lg-6 mb-2 mb-lg-0">
                    <p class="text-sm text-muted mb-0">Found {{ count }} product{{ count|pluralize }}</p>
                  </div>
                </div>
                <div class="row">

                    {% for product in page_category.object_list %}

                      <!-- PRODUCT-->
                      <div class="col-lg-4 col-sm-6">
                        <div class="product text-center">
                          <div class="mb-3 position-relative">
                              {% if product.new %}
                                <div class="badge text-white bg-primary">New</div>
                              {% elif product.sold %}
                                <div class="badge text-white bg-danger">Sold</div>
                              {% elif product.trending %}
                                <div class="badge text-white bg-info">Trending</div>
                              {% endif %}
                              <a class="d-block" href="{{ product.get_absolute_url }}"><img class="img-fluid w-100" src="{{ product.image.url }}" style="width:auto; height:350px" alt="..."></a>
                            <div class="product-overlay">
                              <ul class="mb-0 list-inline">
                                <li class="list-inline-item m-0 p-0"><a class="btn btn-sm btn-dark" href="{% url 'cart:cart_add' product.id %}">Add to cart</a></li>
                              </ul>
                            </div>
                          </div>
                          <h6> <a class="reset-anchor" href="detail.html">{{ product.title }}</a></h6>
                          <p class="small text-muted">${{ product.price }}</p>
                        </div>
                      </div>

                    {% endfor %}

                </div>
                <!-- PAGINATION-->
                <nav aria-label="Page navigation example">
                  <ul class="pagination justify-content-center justify-content-lg-end">

                    {% if page_category.has_previous %}
                      <li class="page-item mx-1"><a class="page-link" href="#!" aria-label="Previous"><span aria-hidden="true">Prev page</span></a></li>
                    {% endif %}

                    {% comment %} <li class="page-item mx-1 active"><a class="page-link" href="#!">1</a></li>
                    <li class="page-item mx-1"><a class="page-link" href="#!">2</a></li>
                    <li class="page-item mx-1"><a class="page-link" href="#!">3</a></li> {% endcomment %}
                    
                    {% if page_category.has_next %}
                      <li class="page-item ms-1"><a class="page-link" href="#!" aria-label="Next"><span aria-hidden="true">Next page</span></a></li>
                    {%endif%}
                  
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </section>
      </div>

      <!-- Nouislider Config-->
      <script>
        var range = document.getElementById('range');
        noUiSlider.create(range, {
            range: {
                'min': 0,
                'max': 2000
            },
            step: 5,
            start: [100, 1000],
            margin: 300,
            connect: true,
            direction: 'ltr',
            orientation: 'horizontal',
            behaviour: 'tap-drag',
            tooltips: true,
            format: {
              to: function ( value ) {
                return '$' + value;
              },
              from: function ( value ) {
                return value.replace('', '');
              }
            }
        });

      </script>
      <script>
        // ------------------------------------------------------- //
        //   Inject SVG Sprite -
        //   see more here
        //   https://css-tricks.com/ajaxing-svg-sprite/
        // ------------------------------------------------------ //
        function injectSvgSprite(path) {

            var ajax = new XMLHttpRequest();
            ajax.open("GET", path, true);
            ajax.send();
            ajax.onload = function(e) {
            var div = document.createElement("div");
            div.className = 'd-none';
            div.innerHTML = ajax.responseText;
            document.body.insertBefore(div, document.body.childNodes[0]);
            }
        }
        // this is set to BootstrapTemple website as you cannot
        // inject local SVG sprite (using only 'icons/orion-svg-sprite.svg' path)
        // while using file:// protocol
        // pls don't forget to change to your domain :)
        injectSvgSprite('https://bootstraptemple.com/files/icons/orion-svg-sprite.svg');

      </script>
      <!-- FontAwesome CSS - loading as last, so it doesn't block rendering-->
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

{% endblock %}
